body{margin:0;min-height:100%;background-color:#eceff1;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;color:#333;font-size:18px;line-height:20px;cursor:default}main{max-width:991px;background-color:#f5f5f5;margin-left:auto;margin-right:auto}img{max-width:100%;vertical-align:middle;display:inline-block}p{margin-top:0;margin-bottom:10px}ol,ul{margin-top:0;margin-bottom:10px;padding-left:40px}a{background-color:transparent}input[disabled]{cursor:default}input{line-height:normal;width:85%;height:20px}

/* BASE STRUCTURE
   ========================================================================== */
.logo-container {
   margin-top: -110px;
   text-align: center
}

.logo {
   width: 100px;
   padding-top: 140px;
   padding-bottom: 40px
}

.paragraph {
   margin-bottom: 36px;
   padding-top: 10px;
   padding-left: 0;
   padding-bottom: 8px;
   text-align: center;
   font-style: italic
}

/* SEARCH BAR
   ========================================================================== */
.search{display:block;padding:8px 15px;font-size:14px;margin:0 auto 36px auto;border-radius:20px;text-align:left;line-height:1.42857143;color:#333;background-color:#f5f5f5;border:1px solid #ccc}.search:focus{border-color:#ffa100;outline:0}.search:invalid:focus{border-color:#ff0000;animation:shake0 0.2s ease-in-out 0s 2}@keyframes shake0{25%{margin-top:1px;margin-bottom:35px}50%{margin-top:2px;margin-bottom:34px}75%{margin-top:1px;margin-bottom:35px}}@keyframes shake1{25%{margin-top:2px;margin-bottom:-2px}50%{margin-top:4px;margin-bottom:-4px}75%{margin-top:2px;margin-bottom:-2px}}

/* GOOGLE LOADER
   ========================================================================== */

.loading{margin-bottom:50px;display:block;text-align:center}.loading span{display:inline-block;margin-top:10px;height:10px;width:10px;border-radius:50%}.loading span:not(:first-child){margin-left:10px}.loading span:nth-child(1){background:#ffd999;animation:move .5s ease-in-out -.25s infinite alternate}.loading span:nth-child(2){background:#ffc766;animation:move .5s ease-in-out -.5s infinite alternate}.loading span:nth-child(3){background:#ffb433;animation:move .5s ease-in-out -.75s infinite alternate}.loading span:nth-child(4){background:#ffa100;animation:move .5s ease-in-out -1s infinite alternate}@keyframes move{from{transform:translateY(5px)}to{transform:translateY(0)}}

/* DISPLAYING MOVIE
   ========================================================================== */
.movie-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: left
}

.movie {
   margin-right: auto;
   margin-left: auto;
   padding-bottom: 20px;
   cursor: default
}

.poster {
   max-height: 300px;
   max-width: 200px;
   box-shadow: 4px 4px 10px -3px #000;
   cursor: pointer
}

.title {
   display: block;
   max-width: 200px;
   margin-bottom: 0;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   text-transform: capitalize;
   cursor: pointer
}

.list-item {
   border: 1px solid #000;
   border-radius: 10px;
   background-color: #f5f5f5;
   margin-right: 5px;
   margin-bottom: 5px
}

.list {
   list-style: none;
   display: flex;
   max-width: 300px;
   margin-bottom: 0;
   padding-left: 0;
   flex-wrap: wrap
}

.episode {
   position: absolute;
   display: none;
   opacity: 0;
   z-index: 1;
   -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
       -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
           transition: opacity 0.5s ease-in-out;
}

.show {
   display: block;
   opacity: 1;
   animation: fade 1s
}

@keyframes fade {
   0% {
      opacity: 0
   }

   100% {
      opacity: 1
   }
}

.bonsoir {
   padding-right: 3px;
   padding-left: 3px;
   color: #333;
   vertical-align: middle;
   text-decoration: none;
   cursor: pointer
}

/* ==========================================================================
   MEDIA SCREEN SIZE
   ========================================================================== */
@media screen and (max-width:991px){.title{margin-right:0}.bonsoir{font-size:16px}.list{max-width:250px;margin-top:0;margin-bottom:0;padding-left:0}.movie-container{padding-right:20px;padding-left:20px;text-align:left}}

@media screen and (max-width:767px){body{background-color:#f5f5f5}.poster{max-height:225px;max-width:150px}input{width:70%}.title{display:block;max-width:150px;font-weight:700;font-size:14px}.paragraph{font-size:10px;margin-top:0}.movie-info{display:block}.bonsoir{padding-right:3px;padding-left:3px;font-size:12px}.list-item{margin-right:3px;margin-bottom:3px;line-height:15px}.list{max-width:180px}.movie-container{padding-right:30px;padding-left:30px;flex-direction:row;flex-wrap:wrap}.logo{width:50px;padding-bottom:20px}.search{margin-top:0;padding-top:1px;padding-left:9px;padding-bottom:1px;font-size:10px}.search:invalid:focus{border-color:#ff0000;animation:shake1 0.2s ease-in-out 0s 2}.loading{margin:0}.loading span{height:5px;width:5px}.loading span:not(:first-child){margin-left:5px}}

@media screen and (max-width:479px){.poster{max-height:120px;max-width:80px;margin-top:0;margin-bottom:10px;margin-left:0}.title{max-width:80px;padding-top:0;padding-bottom:0;font-size:10px;font-weight:700}.movie-info{margin-bottom:10px;text-align:center}.bonsoir{padding-right:1px;padding-left:1px;font-size:7px}.list{max-width:100px}.list-item{line-height:8px}.movie-container{text-align:left}}